/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
}

body {
  background-color: #000000;
  font-family: monospace;
}

div.entry {
  color: #EEEEEE;
}

a.article_title {
  color: #EEEEEE;
  text-decoration: none;
  font-weight: bold;
}

div.article_content {
  color: #EEEEEE;
}

div.cursor {
  color: #00FF00;
  display: inline;
  width: 800px;
}